modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42248674
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run client:dev"

[[ports]]
localPort = 4000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80
